# Formspree ID for contact form
NEXT_PUBLIC_FORMSPREE_ID=

# Keystatic / Site Settings
NEXT_PUBLIC_SITE_URL=https://yourdomain.com
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
NEXT_PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
